.upload-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 350px;
}

.upload-form h1 {
    font-size: 22px;
    margin: 30px auto;
}
.upload-form input {
    margin-bottom: 10px;
    height: 30px;
    width: 341px;
}

.upload-form textarea {
    margin-bottom: 10px;
    height: 60px;
    width: 343.5px;
}

#upload-confirm-btn {
    background-color: rgb(250, 166, 8);
    color: white;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    width: 50px;
    margin-left: 288px;
}

#select-photo-div input{
    width: 200px;
    margin-left: 5px
}

#select-photo-label {
    font-size: 12px;
}

#select-photo-img {
    width: 300px;
}

#nav-upload-btn {
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 18%;
    padding-top: 12px;
}