#search-h2 {
    width: fit-content;
    margin: 80px auto 30px auto;
}

.search-result-link {
    display: flex;
    justify-content: center;
}

#search-goback {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.no-search-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#no-search-msg {
    width: fit-content;
    margin: auto;
    color: rgba(139, 61, 5, 0.857)
}

#no-search-icon {
    font-size: 70px;
    color: rgba(139, 61, 5, 0.857);
    margin-bottom: 10px;
}