.edit-form button {
    background-color: rgb(250, 166, 8);
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    width: 50px;
    margin-left: 288px;
}