#faves-page-star {
    /* position: relative; */
    /* position: absolute; */
    /* top: 30px; */
    padding-bottom: 15px;
    margin-left: 90px;
    font-size: 50px;
}

#faves-comment-link {
    color: white;
    font-size: 50px;
    padding-top: 34px;
}