.center-text {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    /* align-self: center; */
}

.center-text button {
    width: fit-content;
    font-size: 20px;
    padding: 10px;
}