.delete-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 350px;
}

.delete-form button {
    background-color: rgb(250, 166, 8);
    color: white;
    border: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
    width: 50px;
    margin-left: 288px;
}