.main-container {
    margin: auto;
    margin-top: 50px;
}

body {
    font-family: Proxima Nova,
        helvetica neue,
        helvetica,
        arial,
        sans-serif;
    background-color: #f3f5f6;
}

textarea {
    font-family: Proxima Nova,
    helvetica neue,
    helvetica,
    arial,
    sans-serif;
}

form input:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 800px) {
    .main-container {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .main-container {
        width: 90%;
    }
}

@media only screen and (min-width: 1000px) {
    .main-container {
        width: 70%;
    }
}