.center-text {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 740px;
    /* align-self: center; */
}


#start-free-btn {
    color: black;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    width: fit-content;
    font-size: 22px;
    font-weight: 700;
    padding: 18px 25px;
    cursor: pointer;
}